/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgb(254, 254, 254);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

/* align child elements of main to center of page */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
input[type="submit"] {
  display: block; /* Make the element a block-level element */
  margin: 0 auto; /* Center the element horizontally */
  text-align: center; /* Center the text inside the element */
}
table {
  border-collapse: collapse;
  width: 100%;
}
/* Style for text input fields */
input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style for textarea fields */
textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 95%;
  height: 150px;
}

/* Style for number input fields */
input[type="number"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #ddd;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td:last-child {
  text-align: center;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-height: 150px;
  max-width: 100px;
}
.field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.notice {
  display: none;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert {
  display: none;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.notice.present,
.alert.present {
  display: block;
}

.notice:not(:empty),
.alert:not(:empty) {
  display: block;
}

.chapter {
  width: 80%;
}

.showimg {
  max-height: 450px;
  max-width: 300px;
}

#user-books-table,
#books-table,
.page {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

input[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

input[type="submit"]:active {
  background-color: #00499e;
}

.navigate {
  background-color: #f2f2f2;
  padding: 10px;
}

.navigate a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

.navigate a:hover {
  color: #ff0000;
}

.navigate a:first-child {
  margin-left: 0;
}

.navigate a:last-child {
  margin-right: 0;
}
